sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
	margin: 0 auto;
}
.stl_03 {
	position: relative;
	width: 51em;
}
.stl_04 {
	height: 6.6em;
}
.ie .stl_04 {
	height: 66em;
}
@font-face {
	font-family:"CUQCIK+Times-Roman";
	src:url("02e60f63-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	font-size: 0.833333em;
	font-family: "CUQCIK+Times-Roman";
	color: #000000;
}
.stl_06 {
	line-height: 1.107422em;
}
.stl_07 {
	letter-spacing: -0.0071em;
}

.ie .stl_07 {
	letter-spacing: -0.0945px;
}
@font-face {
	font-family:"KIQWNF+Times-Bold";
	src:url("97e87c08-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 0.9125em;
	font-family: "KIQWNF+Times-Bold";
	color: #000000;
}
.stl_09 {
	letter-spacing: -0.0067em;
}

.ie .stl_09 {
	letter-spacing: -0.0981px;
}
.stl_10 {
	letter-spacing: -0.0004em;
}

.ie .stl_10 {
	letter-spacing: -0.0049px;
}
.stl_11 {
	letter-spacing: -0.0001em;
}

.ie .stl_11 {
	letter-spacing: -0.0009px;
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "KIQWNF+Times-Bold";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0.0001em;
}

.ie .stl_13 {
	letter-spacing: 0.0008px;
}
.stl_14 {
	letter-spacing: -0.0002em;
}

.ie .stl_14 {
	letter-spacing: -0.0028px;
}
.stl_15 {
	letter-spacing: 0em;
}

.ie .stl_15 {
	letter-spacing: -0.0002px;
}
.stl_16 {
	letter-spacing: -0.0009em;
}

.ie .stl_16 {
	letter-spacing: -0.0123px;
}
@font-face {
	font-family:"IPCHNO+Times-Italic";
	src:url("58b9817b-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.833333em;
	font-family: "IPCHNO+Times-Italic";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.0017em;
}

.ie .stl_18 {
	letter-spacing: -0.0228px;
}
.stl_19 {
	letter-spacing: 0.0009em;
}

.ie .stl_19 {
	letter-spacing: 0.0118px;
}
.stl_20 {
	letter-spacing: -0.0006em;
}

.ie .stl_20 {
	letter-spacing: -0.0086px;
}
.stl_21 {
	letter-spacing: -0.001em;
}

.ie .stl_21 {
	letter-spacing: -0.0127px;
}
.stl_22 {
	letter-spacing: -0.0053em;
}

.ie .stl_22 {
	letter-spacing: -0.0706px;
}
.stl_23 {
	letter-spacing: -0.0008em;
}

.ie .stl_23 {
	letter-spacing: -0.0103px;
}
.stl_24 {
	letter-spacing: -0.0113em;
}

.ie .stl_24 {
	letter-spacing: -0.15px;
}
.stl_25 {
	letter-spacing: -0.0003em;
}

.ie .stl_25 {
	letter-spacing: -0.004px;
}
.stl_26 {
	letter-spacing: -0.0005em;
}

.ie .stl_26 {
	letter-spacing: -0.007px;
}
.stl_27 {
	letter-spacing: -0.0014em;
}

.ie .stl_27 {
	letter-spacing: -0.0185px;
}
.stl_28 {
	letter-spacing: -0.0021em;
}

.ie .stl_28 {
	letter-spacing: -0.0283px;
}
.stl_29 {
	letter-spacing: -0.0015em;
}

.ie .stl_29 {
	letter-spacing: -0.0198px;
}
.stl_30 {
	letter-spacing: -0.0018em;
}

.ie .stl_30 {
	letter-spacing: -0.0243px;
}
.stl_31 {
	letter-spacing: -0.0026em;
}

.ie .stl_31 {
	letter-spacing: -0.0349px;
}
.stl_32 {
	letter-spacing: -0.0019em;
}

.ie .stl_32 {
	letter-spacing: -0.0252px;
}
.stl_33 {
	letter-spacing: -0.0022em;
}

.ie .stl_33 {
	letter-spacing: -0.0291px;
}
.stl_34 {
	letter-spacing: -0.0016em;
}

.ie .stl_34 {
	letter-spacing: -0.0208px;
}
.stl_35 {
	letter-spacing: -0.0037em;
}

.ie .stl_35 {
	letter-spacing: -0.0489px;
}
.stl_36 {
	letter-spacing: -0.0007em;
}

.ie .stl_36 {
	letter-spacing: -0.0095px;
}
.stl_37 {
	letter-spacing: -0.0023em;
}

.ie .stl_37 {
	letter-spacing: -0.0308px;
}
.stl_38 {
	letter-spacing: -0.0013em;
}

.ie .stl_38 {
	letter-spacing: -0.0176px;
}
.stl_39 {
	letter-spacing: -0.003em;
}

.ie .stl_39 {
	letter-spacing: -0.0406px;
}
.stl_40 {
	letter-spacing: 0.0006em;
}

.ie .stl_40 {
	letter-spacing: 0.0076px;
}
.stl_41 {
	letter-spacing: -0.0011em;
}

.ie .stl_41 {
	letter-spacing: -0.0149px;
}
.stl_42 {
	letter-spacing: -0.0024em;
}

.ie .stl_42 {
	letter-spacing: -0.032px;
}
.stl_43 {
	letter-spacing: -0.0031em;
}

.ie .stl_43 {
	letter-spacing: -0.0407px;
}
.stl_44 {
	letter-spacing: -0.0029em;
}

.ie .stl_44 {
	letter-spacing: -0.0391px;
}
.stl_45 {
	letter-spacing: 0.0007em;
}

.ie .stl_45 {
	letter-spacing: 0.0092px;
}
.stl_46 {
	letter-spacing: -0.0051em;
}

.ie .stl_46 {
	letter-spacing: -0.0685px;
}
.stl_47 {
	letter-spacing: -0.002em;
}

.ie .stl_47 {
	letter-spacing: -0.0262px;
}
.stl_48 {
	letter-spacing: -0.0048em;
}

.ie .stl_48 {
	letter-spacing: -0.0634px;
}
.stl_49 {
	letter-spacing: -0.0057em;
}

.ie .stl_49 {
	letter-spacing: -0.0762px;
}
.stl_50 {
	letter-spacing: -0.0045em;
}

.ie .stl_50 {
	letter-spacing: -0.06px;
}
.stl_51 {
	letter-spacing: -0.0034em;
}

.ie .stl_51 {
	letter-spacing: -0.0457px;
}
.stl_52 {
	letter-spacing: -0.0036em;
}

.ie .stl_52 {
	letter-spacing: -0.0482px;
}
.stl_53 {
	letter-spacing: -0.0032em;
}

.ie .stl_53 {
	letter-spacing: -0.0424px;
}
.stl_54 {
	letter-spacing: -0.0039em;
}

.ie .stl_54 {
	letter-spacing: -0.0522px;
}
.stl_55 {
	letter-spacing: -0.0043em;
}

.ie .stl_55 {
	letter-spacing: -0.0574px;
}
.stl_56 {
	letter-spacing: -0.0041em;
}

.ie .stl_56 {
	letter-spacing: -0.0548px;
}
.stl_57 {
	letter-spacing: -0.005em;
}

.ie .stl_57 {
	letter-spacing: -0.0663px;
}
.stl_58 {
	letter-spacing: -0.0012em;
}

.ie .stl_58 {
	letter-spacing: -0.0155px;
}
.stl_59 {
	letter-spacing: -0.0056em;
}

.ie .stl_59 {
	letter-spacing: -0.0745px;
}
.stl_60 {
	letter-spacing: -0.0033em;
}

.ie .stl_60 {
	letter-spacing: -0.0438px;
}
.stl_61 {
	letter-spacing: -0.004em;
}

.ie .stl_61 {
	letter-spacing: -0.0537px;
}
.stl_62 {
	letter-spacing: 0.0011em;
}

.ie .stl_62 {
	letter-spacing: 0.0144px;
}
.stl_63 {
	letter-spacing: 0.0008em;
}

.ie .stl_63 {
	letter-spacing: 0.0109px;
}
.stl_64 {
	letter-spacing: -0.0038em;
}

.ie .stl_64 {
	letter-spacing: -0.0508px;
}
.stl_65 {
	letter-spacing: -0.0028em;
}

.ie .stl_65 {
	letter-spacing: -0.0378px;
}
.stl_66 {
	letter-spacing: -0.0046em;
}

.ie .stl_66 {
	letter-spacing: -0.0615px;
}
.stl_67 {
	letter-spacing: 0.0004em;
}

.ie .stl_67 {
	letter-spacing: 0.0053px;
}
.stl_68 {
	letter-spacing: 0.0012em;
}

.ie .stl_68 {
	letter-spacing: 0.0156px;
}
.stl_69 {
	letter-spacing: -0.0027em;
}

.ie .stl_69 {
	letter-spacing: -0.0362px;
}
.stl_70 {
	letter-spacing: -0.0073em;
}

.ie .stl_70 {
	letter-spacing: -0.0976px;
}
.stl_71 {
	letter-spacing: 0.0002em;
}

.ie .stl_71 {
	letter-spacing: 0.0022px;
}
.stl_72 {
	letter-spacing: -0.006em;
}

.ie .stl_72 {
	letter-spacing: -0.0804px;
}
.stl_73 {
	letter-spacing: -0.0062em;
}

.ie .stl_73 {
	letter-spacing: -0.0827px;
}
.stl_74 {
	letter-spacing: -0.0074em;
}

.ie .stl_74 {
	letter-spacing: -0.099px;
}
.stl_75 {
	letter-spacing: -0.0065em;
}

.ie .stl_75 {
	letter-spacing: -0.0864px;
}
.stl_76 {
	letter-spacing: -0.0025em;
}

.ie .stl_76 {
	letter-spacing: -0.0327px;
}
.stl_77 {
	letter-spacing: -0.0035em;
}

.ie .stl_77 {
	letter-spacing: -0.0463px;
}
.stl_78 {
	letter-spacing: -0.007em;
}

.ie .stl_78 {
	letter-spacing: -0.0934px;
}
.stl_79 {
	letter-spacing: -0.0047em;
}

.ie .stl_79 {
	letter-spacing: -0.0625px;
}
.stl_80 {
	letter-spacing: -0.0091em;
}

.ie .stl_80 {
	letter-spacing: -0.1209px;
}
