.multi_select {
	height:auto;
	overflow:hidden;
	float:left;
	z-index:1000;
}
.multi_select_focus {
    border:1px solid #5394DD;
	border-right:2px solid #5394DD;
	border-left:2px solid #5394DD;
}
.multi_select input:first-child{
	margin: 2px;
}
.container {
    width: 100%;
	border: 1px solid gray;
	margin-left: -2px;
}

.top {
    background: #DBEAF9;
	border-bottom: 1px solid gray;

}
.content {
    width: 100%;
	background-color: #fff;
	overflow-y: auto;
}
.content div{
	border-bottom: 1px solid gray;
	margin-top:0px;
	height:24px;
}
.content div:last-child{
    border-bottom: none;
} 
.ok {

	display: block;
	float: right;
	height: 22px;
}

.hidden {
	display:none;
}